.container
{
    width: 800px;
    margin: 10px auto;
    background-color: black;
    padding: 10px;
}

.child
{
    background-color: #F00;
    color: #FFF;
    padding: 10px;
    margin: 10px;
    width: 400px;
}

p
{
    background-color: #080;
    color: #FFF;
    padding: 10px;
}