a
{
    color: blue;
    text-decoration: none;

}

a:hover
{
    color: red;
    font-weight: bold;
    font-display: inherit;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: line-through;
}

a:active
{
    color: black;
    font-style: italic;
    text-decoration: underline;
    font-weight: bolder;
}